
.achievenment_wrapper {
	margin: auto auto;
	height:80%;

}

.achievenment {
	margin: 20px 15px;
	height:18%;
	border: 1px solid white;
	background-color: grey;
	border-radius: 10px;
}

.achievenment_ico {
	float: left;
	margin: 5px 10px;
}

.achievenment_text {
	 float: left;
	 margin-left: 15px;
	 margin-top: 20px;
	 font-size: 130%;
}