
.achievement_wrapper {
	margin: auto auto;
	height:80%;

}

.achievement {
	margin: 20px 15px;
	height:18%;

	background-color: grey;
	border-radius: 10px;
	position:relative;

    background-image: url("../../resources/images/achievement_grey.png");
    background-size: 75% 100%; /*your percentage is the first one (width), second one (100%) is for height*/
    background-repeat: no-repeat;

}

.achievement_ico {
	float: left;
	margin: 5px 10px;
}

.achievement_text {
	 margin-left: 10px;

}

.achievement_title {

	 margin-left: 15px;
	 font-size: 130%;
	 font-weight: bold;

}

.achievement_detail {

	 font-size: 90%;

}
