/* wrpper for achievement page */
.achievement_wrapper {
	margin: auto auto;
	height:80%;
}

/* achievement box */
.achievement_row {
	padding: 5px;
	margin: 20px 15px;
	height:18%;

	background-color: #000000;
	border-radius: 10px;
	position:relative;

    background-image: url("../../resources/images/achievement_grey.png");
    background-size: 0% 100%; /*your percentage is the first one (width), second one (100%) is for height*/
    background-repeat: no-repeat;

}
/* style for ico  */
.achievement_icon {
	float: left;
	height: 70%;
	width: 15%;
	margin: 2%;
}

.achievement_text {
	float: left;
	margin: auto;
}

.achievement_percentage {
	 margin: auto;
	 float: right;
	 font-size: 170%;
}

.achievement_title {
	 font-size: 130%;
	 font-weight: bold;
}

.achievement_detail {
	 font-size: 55%;

}
