/** the image on the top of the page **/
.logo {
	margin: 0 0;
	width: 100%;
	height: 120px;

	/* background-image: url("../../resources/menu_header.png"); doesn't exist? */ 
    background-repeat: no-repeat;
    background-size: 100% 120px;
}

.menu {
	width: 90%;
    height: 120px;
    margin: 80px auto;
    background-color: #404040;
    border-radius: 20px 20px 20px 20px;
}

.mainmenu {
	margin: 10px;
	margin-top: 10%;
	height: 70%;
	bottom: 0;
}

.main_menu_row{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2%;
	margin-bottom: 2%;
/*	background-color:#cccccc;*/
}

.icon {
	height: 27vw;
	margin: 2vw;
	max-height: 180px;
	cursor:pointer;
    -webkit-filter: invert(1);
    filter: invert(1);
}

.difficulty {
 	height: 55px;
	width: 100%;
 	border:none;
 	border-radius: 20px 20px 20px 20px;
	position: absolute;
	bottom: 0;
}

.difficulty > div {
	margin: 15px;
	margin-top: 0px;
}


