/** the image on the top of the page **/
.logo {
	margin: 0 0;
	width: 100%;
	height: 120px;

	/* background-image: url("../../resources/menu_header.png"); doesn't exist? */ 
    background-repeat: no-repeat;
    background-size: 100% 120px;
}

.menu {

	width: 90%;
    height: 120px;
    margin: 80px auto;
    background-color: #404040;
    border-radius: 20px 20px 20px 20px;
}

.mainmenu {
	margin: 10px;
	margin-top: 20%;

	bottom: 0;
}

.icon {
	width: 15%;
	padding: 15px;
	cursor:pointer;
}

.difficulty {
	width: 92%;
 	height: 55px;
 	margin: 10px auto;
 	border:none;
 	border-radius: 20px 20px 20px 20px;
	bottom: 0;
}

/** the style for play button **/
.playBtn {
	cursor:pointer;
	width: 100%;
 	height: 55px;
 	border:none;
 	background-color: #EC7822;
 	border-radius: 15px 15px 15px 15px;
 	font-weight: bold;
 	font-size: 170%;
 	color: white;
}
