/*#failPopup{
	width:100px;
	height:200px;
	background-color: #fff;
}*/

#suceedPopup{
    position: fixed;
    z-index: 999;
	width: 100px;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	background-color: #ff00ff;
}