/** set attributes for register form **/
.register_form {
	text-align: left;
	margin-left: 10px;
	margin-right: 10px;
}

.error_info {
	height: 40px;
	margin: auto auto;
	font-size: 110%;
	color:red;
}