
/** set background image for score are **/
.scoreArea {
	/*margin-top: 50px;
	margin-left: 15px;*/
    margin-bottom: 0;

	width: 96%;
	height: 50px;

	background-image: url("../../resources/images/result_image_scorebaord.png");
    background-repeat: no-repeat;
    background-size: 96% 50px;
}

.score {
	color: white;
    font-size: 180%;
	text-align: center;
    padding-top: 5px;
    letter-spacing: 3px;
}

.ranking {
	font-size: 180%;
	color: #00FF90;
	text-align: center;
	margin-top: 30px;
	font-weight: bold;
}

.menu {
	width: 90%;
    height: 260px;
    margin: 10px auto;
    background-color: #404040;
    border-radius: 20px 20px 20px 20px;
}

/** the style of buttons **/
.homeBtn {
  width: 95px;
  height: 100px;
  margin: 10px auto;
  cursor:pointer;
}

.postBtn {
	cursor:pointer;
	width: 95px;
	height: 100px;
 	margin: 10px auto;
}

.selectBtn {
	cursor:pointer;
	width: 95px;
 	height: 100px;
 	margin: 10px auto;
}

.playBtn {
	cursor:pointer;
	width: 95px;
 	height: 100px;
 	margin: 10px auto;	
}

.firstRow {
	width:200px;
	margin: auto;
}

.secondRow {
	width:200px;
	margin: auto;
}
