body{
    margin: auto;
    width: 320px;
}

/** set fixed size of the page **/
.wrapper{
    margin: auto;
    width: 320px;
    height: 480px;
}

/* set fixed size for menu button*/
.menu{
    margin: auto;
    width: 320px;
    clear: both;
}

/* set fixed size for text */
#text{
    margin: auto;
    width: 320px;
}

/* set fixed size for level selection slider and set font*/
.levelselection{
    margin: auto;
    width: 320px;
    font-family: 'Segoe UI Emoji';
}

/* set fixed size for play button*/
.play{
    margin: auto;
    width: 320px;
}

/* set level selection image cetre align */
.lvimg{
    text-align: center;
}