body{
    margin: auto;
    width: 320px;
}

.wrapper{
    margin: auto;
    width: 320px;
    height: 480px !important;
}

.menu{
    margin: auto;
    width: 320px;
    clear: both;
}

#text{
    margin: auto;
    width: 320px;
}

.levelselection{
    margin: auto;
    width: 320px;
    font-family: 'Segoe UI Emoji';
}

.play{
    margin: auto;
    width: 320px;
}
