body {
    width: 320px;
    height: 480px;
}

.wrapper {
    width: 320px;
    height: 480px;
    margin: auto auto;
	background-color: #232323;
	border: 1px solid black;
}

.leaderboards {
	color: white;
    font-size: 180%;
    font-weight: bold;
	text-align: center;
    padding-top: 5px;
    letter-spacing: 1px;
    margin-top: 20px;
}


.buttons {
	width: 150px;
	margin: auto;
	margin-top: 10px;
}

.global {
	width:110px;
	width:70px;
	margin: 0;
	background-color: #E39345;
	color: white;
	border:none;
	font-weight: bold;
	font-size: 120%;
	border-radius: 5px;
}

.local {
	width:110px;
	width:70px;
	margin: 0;
	background-color: #404040;
	border:none;
	color: grey;
	font-size: 120%;
	border-radius: 5px;
}

.list {
	width: 100%;
	letter-spacing: 1px;
}

.list table {
	margin-top: 20px;
	border-collapse: collapse;
	background-color: white;
	color: black;
	font-size: 110%;
	width: 100%;
}

.list th {    /* style for all td elements unless overridden above*/
    padding: 5px;
    margin: 1px;
    text-align: left;
    font-size: 120%;

   	color: white;
   	background-color: #EC7822;
}

.schedule tr:nth-child(1) { /* make every odd row white background */
    width:140px;
}

.switcher{
    text-align: center;
}
.switcher p {
    color: white;
    font-size: 180%;
    font-weight: bold;
    padding-top: 5px;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 5px;
}